PATH="."
PING_MESSAGE="pong on test!"
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=
MONGO_DATABASE=doctero
HASH_ROUNDS=4
APP_SECRET="a secret token"
VUE_APP_APP_URL=http://localhost:3000/
VUE_APP_API_URL=http://localhost:3001/
